<section class="content-hero">
  <div class="content-hero__banner">
    <img 
      style="height: 100%; width: 100%; object-fit: cover;" 
      src="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-50-0.webp?1376168140" class="swiper-lazy blur-up-huge slide-img swiper-lazy-loaded" alt="Carrusel Use BB" srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-480-0.webp?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-640-0.webp?1376168140 640w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1024-1024.webp?1376168140 1024w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/2-slide-1733176759499-6187605804-b235212168ba809adecb85745be1d9f81733176707-1920-1920.webp?1376168140 1920w"
    >
  </div>
</section>

<style>
  .content-hero {
    padding: 0;
    margin: 0 !important;
  }

  .content-hero__banner {
    height: 45vh;
  }
</style>
