<section class="container">
  <div data-store="home-image-text-module">
    <div class="row-fluid container-wide module-wrapper m-section m-bottom m-bottom-half-xs p-relative">
      <div class="span6">
        <div class="module-image">
          <img
            class="lazyautosizes fade-in lazyloaded"
            src="//acdn.mitiendanube.com/assets/themes/new_linkedman/static/images/empty-placeholder.png"
            data-srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-480-0.gif?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-640-0.gif?1376168140 640w"
            data-sizes="auto"
            alt="CAMISETAS OVERSIZED"
            data-expand="-10"
            sizes="555px"
            srcset="//acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-480-0.gif?1376168140 480w, //acdn.mitiendanube.com/stores/004/483/046/themes/new_linkedman/1-img-499128951-1711653205-d1cdb1fb3244fbbd2ddfc30858ddb8f71711653206-640-0.gif?1376168140 640w"
          >
        </div>
      </div>
      <div class="span6">
        <div class="module-text">
          <div class="text-container">
            <h3 class="module-text-title m-bottom">CAMISETAS OVERSIZED</h3>
            <div class="module-text-paragraph m-bottom p-bottom">
              Vestir nossa camiseta oversized única é uma elegância descomplicada. Feita com tecidos premium e um corte
              moderno, oferece conforto e estilo em igual medida. Com detalhes cuidadosamente pensados, é uma expressão
              de sofisticação casual que se destaca em qualquer situação, garantindo uma aparência impecável com mínima
              complicação.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>