<div class="p-relative m-bottom pull-left full-width">
  <a href="#installments-modal" data-toggle="modal" data-modal-url="modal-fullscreen-payments"
    class="js-fullscreen-modal-open js-product-payments-container visible-when-content-ready link-module product-payment-link">

    <div class="m-bottom-half ">





      <div class="js-max-installments-container js-max-installments installments text-uppercase d-inline-block">




        <div class="js-max-installments product-installments">





          <span class="js-installment-amount product-installment-amount">2</span>


          <span>
            x

            de
          </span>


          <span class="js-installment-price product-installment-value" data-value="51.90">R$51,90</span>
        </div>
      </div>

    </div>

    <div class="m-left-none m-bottom-quarter">
      <ul class="list-style-none p-none-left">
        <li class="d-inline-block">
          <span class="js-product-detail-payment-logo">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
              data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
              class="product-payment-logos-img card-img ls-is-cached lazyloaded">
          </span>
        </li>
        <li class="d-inline-block">
          <span class="js-product-detail-payment-logo">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
              data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
              class="product-payment-logos-img card-img ls-is-cached lazyloaded">
          </span>
        </li>
        <li class="d-inline-block">
          <span class="js-product-detail-payment-logo svg-icon-text p-relative pull-left opacity-80">
            <svg class="svg-inline--fa fa-w-18 fa-lg pull-left" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
              <path
                d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z">
              </path>
            </svg> <svg class="svg-inline--fa fa-w-14 product-payment-icon-plus p-absolute" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path
                d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
              </path>
            </svg> </span>
        </li>
      </ul>
    </div>


    <div class="js-product-discount-container span12 m-left-none m-bottom-half p-right-double text-tertiary" style="display: none;">
      <span class="text-tertiary"><strong>0% de desconto</strong> pagando com </span>
      <div class="js-product-discount-disclaimer font-small" style="display: none;">Não acumulável com outras promoções</div>
    </div>

    <div id="btn-installments" class="btn-link clear-both  js-open-installments-modal-desktop ">
      Ver meios de pagamento
    </div>
    <div class="visible-phone link-module-icon link-module-icon-right">
      <svg class="svg-inline--fa fa-2x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
        <path
          d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z">
        </path>
      </svg>
    </div>
  </a>
</div>